@{
    ViewBag.Title = "Registro";
    Layout = "";
   
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Registro</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/ticketCR/Img/shared/favicon.png" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    
    <!-- Core theme CSS (includes Boo)-->
    <link rel="stylesheet" href="~/ticketCR/css/registro/registro.css" />
</head>
<body >
    <section class="padding-25 wrapper justify-content-center align-center ">
        <div class=" width-60 ">
            <h1 class=" header">Registro</h1>
            <form name="formulario-registro" id="formulario-registro" class="padding-25 ">
                <div class=" background-degradado  wrapper padding-top-50 justify-content-center align-center">

                    <div class="width-40 ">
                        <div class="fields-container">
                            <br><label for="nombre" class="">Nombre</label><br>
                            <input type="text" class="form-control " id="nombre" placeholder="Ingrese su nombre" name="nombre" required><br>
                            

                            <label for="apellido1" class="">Primer apellido</label><br>
                            <input type="text" class="form-control " id="apellido1" placeholder="Ingrese su primer apellido" name="apellido1" required><br>

                            <label for="apellido2" class="">Segundo apellido</label><br>
                            <input type="text" class="form-control" id="apellido2" placeholder="Ingrese su segundo apellido" name="apellido2" required><br>

                            <label for="identificacion" class="">Número de identificación</label><br>
                            <input type="text" class="form-control" id="identificacion" placeholder="Formato: 101110111" name="identificacion" min="0" oninput="this.value = Math.abs(this.value)" maxlength="9" required><br>

                            <label for="nacimiento" class="">Fecha de nacimiento</label><br>
                            <input type="text" class="form-control" id="nacimiento" name="nacimiento" min="1903-01-01" max="2005-12-31" required><br>

                            <label for="correo" class="">Correo electrónico</label><br>
                            <input type="email" class="form-control" id="correo" name="correo" placeholder="ejemplo@yahoo.com" required><br>

                        </div>

                    </div>
                    <div class="width-40 ">
                        <br><label for="password" class="">Ingrese su contraseña</label><br>
                        <input type="password" class="form-control" id="password1" name="password" placeholder="Mínimo 8 caracteres " required><br><br>

                        <label for="password2" class="">Ingrese nuevamente su contraseña</label><br>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Ingrese nuevamente su contraseña" required><br><br>


                        <label for="telefono" class="">Ingrese su número de teléfono</label><br>
                        <input type="text" class="form-control" id="telefono" placeholder="Formato: 88888888" name="telefono" min="0" oninput="this.value = Math.abs(this.value)" maxlength="8" required><br><br>

                        <label for="tipoCuenta">Tipo de cuenta:</label><br>
                        <select class=" big-form-control" name="tipoCuenta" id="tipoCuenta" required>
                            <option value="null" hidden>Seleccione el tipo</option>
                            <option value="3">Usuario comprador</option>
                            <option value="2">Gestor eventos</option>
                        </select><br><br>

                        <label for="autenticacion">Método de autenticación:</label><br>
                        <select class="big-form-control" name="autenticacion" id="autenticacion" required>
                            <option value="null" hidden>Seleccione el método</option>
                            <option value="correo">Correo</option>
                            <option value="sms">SMS</option>
                        </select><br>

                    </div>


                    <div class="container-login100-form-btn">

                        <h4 class=" ">Arrastra el marcador para proporcionar una dirección:</h4>
                        <div id="map"></div>


                        <input type="hidden" class="form-control justify-content-center align-center " type="text" id="latitude" readonly required>

                        <input type="hidden" class="form-control  justify-content-center align-center" type="text" id="longitude" readonly required>

                        <div><br><br><button id="btn-enviar-form" type="submit" class="sign-btn" onclick="validarFormularioRegistro()">Registrarme</button></div>
                        <div><br><br><button type="button" class="sign-btn" onclick="window.history.back();">Cancelar</button></div>
                    </div>

                </div>
                

            </form>
        </div>
    </section>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARvTpwIJm0YHxlqtsT3eLcUNAuQbmLCU0&callback=initMap" defer></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/ticketCR/js/Registro/Registro.js"></script>
    <script src="~/ticketCR/js/alertas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/ticketCR/js/site.js"></script>
    <!--DATA PICKER CALENDAR-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


</body>
 
</html>




