
@{
	Layout = "";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link href="~/ticketCR/Img/shared/favicon.png" rel="icon">
	<title>Restablecer contraseña</title>
	<link href="~/ticketCR/css/recuperarClave/restablecerClave.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
	<div class="card login-form">
		<div class="card-body">
			<div class="background-degradado">
			<h3 class="card-title text-center">Restablecer contraseña</h3>
				<div class="image-container">
					<img src="~/ticketCR/Img/shared/logoTicketCR.png" alt="Logo TicketCR">
				</div>
				<div class="card-text">
					<form id="formulario-restablecer-clave">
						<div class="form-group">
							<label for="clave-01">Nueva contraseña</label>
							<input id="clave-01" type="password" class="form-control form-control-sm" placeholder="Nueva contraseña">
							<label for="clave-2">Confirmar contraseña</label>
							<input id="clave-02" type="password" class="form-control form-control-sm" placeholder="Confirmar contraseña">
						</div>
						<div class="btn-row  text-center">
							<button type="submit" class="sign-btn">Restablecer</button>
							<button class="sign-btn" type="button" onclick="window.location.href='@Url.Action("Login", "TicketCR")'">Regresar</button>
						</div>
					</form>
				</div>
			 </div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/ticketCR/js/alertas.js"></script>
	<script src="~/ticketCR/js/site.js"></script>
	<script src="~/ticketCR/js/recuperarClave/restablecerClave.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>





